html {
  font-size: 62.5%;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
  color: gray;
  display: block;
}
.intro {
  width: 100%;
  height: 776px;
  position: relative;
  text-align: center;
  padding: 100px;
  box-sizing: border-box;
  margin-bottom: 8px;
  overflow: hidden;
}
.intro .introText {
  margin-top: 100px;
  position: relative;
  z-index: 1;
}
.mainText {
  font-size: 6rem;
  font-weight: bold;
  margin-bottom: 30px;
  word-break: keep-all;
}
.conText {
  font-size: 5rem;
  font-weight: bold;
  margin-bottom: 30px;
  word-break: keep-all;
}
.subText {
  font-size: 2.5rem;
  word-break: keep-all;
}
.questionText{
  font-size: 2.8rem;
  word-break: keep-all;
}
.questionItemText{
  font-size: 2rem;
  line-height: 1.8;
}
.emailBox {
  margin-top: 30px;
  font-size: 1.8rem;
}
.emailBox input {
  width: 500px;
  height: 60px;
  border: none;
  padding: 10px;
  box-sizing: border-box;
}
.emailBox button {
  background-color: red;
  color: white;
  width: 160px;
  height: 60px;
  box-sizing: border-box;
  font-size: 2.5rem;
  border: none;
  cursor: pointer;
}
.mainImg {
  width: 100vw;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}
.mainImg div {
  width: 100%;
  height: 100%;
  left: 0;
  z-index: -2;
  background-image: url("https://assets.nflxext.com/ffe/siteui/vlv3/03fdc4bf-72f6-4926-83a7-a76e6a1a5591/780e6f4e-6f56-4926-82f5-ee222fb056c0/KR-ko-20211115-popsignuptwoweeks-perspective_alpha_website_small.jpg");
  background-position: center;
  background-size: cover;
  position: absolute;
}
.mainImg div.bg {
  background-color: rgba(0, 0, 0, 0.4);
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.8) 0,
    rgba(0, 0, 0, 0) 60%,
    rgba(0, 0, 0, 0.8) 100%
  );
  z-index: -1;
}

/* 헤더 */
header {
  display: flex;
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  width: 80%;
  max-width: 1808px;
  padding-top: 30px;
  left: 50%;
  transform: translateX(-50%);
  justify-content: space-between;
  img {
    width: 134px;
  }
  div {
    display: flex;
    justify-content: center;
    div {
      width: 100px;
      font-size: 1.6rem;
    }
    select {
      background: #000;
      color: white;
      padding-left: 3px;
      width: 100%;
    }
    .loginBtn {
      background-color: red;
      color: white;
      width: 80px;
      margin-left: 30px;
      border-radius: 5px;
      padding-top: 9px;
      font-weight: bold;
    }
  }
}
// 컨텐츠
.contentBox {
  background-color: black;
  padding: 70px 60px;
  margin-bottom: 8px;
  display: flex;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
  align-items: center;
  .textBox {
    width: 565px;
  }
  .imgBox {
    width: 555px;
    height: 350px;
    position: relative;
    background-position: center;

    background-size: cover;
    >div {
      width: 100%;
      height: 300px;
      background-position: center;
      background-size: cover;
      position: absolute;
      z-index: 1;
    }
    .pointImg{
      width: 350px;
      background-color: black;
      height: 100px;
      position: absolute;
      top: 250px;
      border: 2px solid rgba(255,255,255,.25);
      border-radius: 10px;
      left: 50%;
      transform: translateX(-50%);
      >div{
        padding: 10px;
        box-sizing: border-box;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      h4{
        font-size: 16px;
        margin-bottom: 0;
      }
      p{
        font-size: 12px;
        color: #0071eb;
      }
      
      img{
        height: 100%;
      }
      div{
        :nth-child(1){
          height: 100%;
        }
        :nth-child(2){
          width: 55%;
        }
        :nth-child(3){
          height: 70%;
        }
        
      }
    }
    video {
      width: 73%;
      position: absolute;
      z-index: 0;
      left: 73px;
      top: 30px;
    }
    video.small{
      width: 62%;
      left: 100px;
      top: 0px;
    }
  }
}


.question{
  background-color: black;
  padding:100px;
  text-align: center;
  margin: 0 auto;
  box-sizing: border-box;
  margin-bottom: 8px;
  .questionTitle{
    display: flex;
    justify-content: space-between;
    max-width: 815px;
    width: 100%;
    padding:20px 40px;
    background-color: #303030;
    margin:  0 auto;
    box-sizing: border-box;
    border-bottom: solid 3px black;
  }
  .questionItemText{
    padding: 40px;
    width: 100%;
    max-width: 815px;
    box-sizing: border-box;
    text-align: left;
    margin: 0 auto;
    background-color: #303030;
    font-size: 2.8rem;
  }
}

.Footer{
  color:gray;
  padding: 80px;
  width: 100%;
  max-width: 1090px;
  box-sizing: border-box;
  margin: 0 auto;
  h5{
    font-size: 1.4rem;
    margin-bottom: 30px;
  }
  div{
    font-size: 1.2rem;
    margin-bottom: 30px;
    line-height: 1.8;
    ul{
      display: flex;
      justify-content: space-between;
      margin-left: -40px;
      li{
        width: 25%;
      }
    }
    select{
      background-color: black;
      color: white;
      height: 40px;
      width: 120px;
      padding: 10px;
      box-sizing: border-box;

    }
  }
}